.discover-section {
  width: 100%;
  text-align: center;
  margin: 20px auto;
}

.discover-section h2 {
  font-family: 'Jost', sans-serif;
  font-size: 45px;
  color: #9F7651;
  margin-bottom: 20px;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.service-button {
  width: 180px;
  height: 180px;
  font-family: 'Jost', sans-serif;
  font-size: 18px;
  color: white;
  background-color: rgba(159, 118, 81, 0.49);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}
