.welcome-section {
  width: 100%;
  height: 443px;
  background-color: rgba(159, 118, 81, 0.49);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

.welcome-section h1 {
  font-family: 'Jost', sans-serif;
  font-size: 50px;
  color: white;
  margin: 0;
}

.welcome-section p {
  font-family: 'Jost', sans-serif;
  font-size: 32px;
  color: white;
  margin: 10px 0;
}

.explore-button {
  width: 226px;
  height: 48px;
  font-family: 'Jost', sans-serif;
  font-size: 35px;
  color: #9F7651;
  background-color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}
