body, html {
  margin: 0;
  padding: 0;
  width: 100vw; /* Use viewport width */
  height: 100vh; /* Use viewport height */
  box-sizing: border-box;
  overflow-x: hidden; /* Prevent horizontal scrollbar */
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh; /* Ensure full viewport height */
}
